html {
}    
body {
    padding: 10px;
}
.summersz {
    margin: 20px; 
    padding: ; 
    font-size: 20px;
}
img {
    max-width: 125px; 
    margin: -5px -5px -45px 10px;
}
#SeasonChoice {
    margin: 20px; 
}